<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gen AI Masterclass Registration</title>
</head>
<body>
  <h2>Hi {{ name }},</h2>

  <p>Thank you for registering for the <strong>Gen AI Masterclass</strong> at <strong>BIA – Manyata Tech Park</strong>, Bengaluru.</p>

  <p>We’re excited to have you onboard for this transformative learning experience in Generative AI and Agentic AI.</p>


  <p>
    <strong>Time::</strong> 21st June 2025, 11:30 am to 1:00 pm<br>
    <strong>Venue:</strong> Boston Institute of Analytics – Manyata Tech Park (MFAR Building), Bengaluru
  </p>

  <br>
  <p>Looking forward to meeting you in person!</p>

  <br>
  <p>Warm regards,<br>
  <strong>Team BIA - Manyata Tech Park Campus</strong></p>
</body>
</html>